.home-container {
    margin: 0 auto;
    text-align: center;
    list-style-position: inside;
    max-width: 1130px;
    border: 2px solid black;
    border-radius: 16px;
    padding: 28px 36px 28px 36px;
    background-color: white;
    margin-top: 24px;
}

h1 {
    border-bottom: 3px solid gray;
    padding: 6px;
    margin-bottom: 24px;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

.bodyclass {
    background-color: grey;
}

h2 {
    border-bottom: 2px solid gray;
    padding: 6px;
}

li {
    margin: 0px 0px 24px 0px;
    font-size: 24px;
}

.form-container {
    margin: 0 auto;
    max-width: 1100px;
    text-align: center;
    padding: 12px;
    border: 2px solid black;
    background-color: white;
    margin-top: 24px;
    border-radius: 16px;
}

.form-container input {
    margin-bottom: 16px;
    font-size: 20px;
}

.form-container h2 {
    margin-top: -24px;
    margin-bottom: 24px;
}

.form-container label {
    font-size: 16px;
}

form {
    margin: 0 auto;  
}


.backbuttoncontainer {
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 36px;
    max-width: 750px;
    text-align: center;
}

ul.nav-bar {
    display:inline-flex;
    padding: 10px 40px;
    list-style-type: none;
}

.nav-bar li {
    border: 1px solid gray;
    font-size: 20px;
}

li {
    padding: 10px;
    font-size: 22px;
}

.logout {
    float: right; 
    margin-top: 30px;
}

td {
    text-align: left;
}

nav {
    margin-top: 16px;
    grid-column: 2/4;
    padding-bottom: 10px;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 2px 5px;
    font-family: sans-serif;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}

nav li{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    font-size: 22px; 
}

.banner {
    display: flex;
    padding: 0px 48px 0px 48px;
    margin: 0 auto;
    color: white;
    background-color: rgb(49, 48, 48);
}

.banner a {
    color: white;
}

.banner h3 {
    margin-top: 16px;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
}

.bannerpart1 {
    width:600px;
}

.bannerpart2 {
    flex-grow: 1;
}

.tableheading {
    margin-top: -24px;
}

.tablebar {
    margin-top: -20px;
}

.tablebar1 {
    margin-top: -16px;
}


